= semantic_form_for @tournament do |form|
  = form.input :name, :label => "Nosaukums"
  = form.input :datetime, :as=>:string, :input_html => {:value => @tournament.datetime.nil? ? "" : @tournament.datetime.to_formatted_s(:datecontrol_timestamp) }, :label=>"Datums/Laiks"
  %script $('#tournament_datetime').datetimepicker();
  = form.input :available_spots, :as => :select, :collection => 2..6, :label => "Sportistu skaits"
  = form.input :location, :label => "Vieta"
  = form.input :owner, :label => "Turnīra Boss", :as => :select, :collection => User.all
  %div.actions
    = form.buttons do 
      =form.commit_button :label => "Saglabāt"

.clear




