= semantic_form_for @tournament do |form|
  = form.input :name
  = form.input :datetime, :as=>:string, :input_html => {:value => @tournament.datetime.nil? ? "" : @tournament.datetime.to_formatted_s(:datecontrol_timestamp) }
  %script $('#tournament_datetime').datetimepicker();
  = form.input :available_spots, :as => :select, :collection => 2..6
  = form.input :location
  %div.actions
    = form.buttons do 
      =form.commit_button :label => "SaglabÄt"

.clear




