%table.content-table.tournaments
  %tr
    %th.col-datetime Datums/Laiks
    %th.col-name Turnīrs
    %th.col-participants Spēlētāji
    %th.col-availability Spēlētāju skaits
    %th.col-location Kur
    - if user_signed_in? and !locked
      %th.col-action
    
  -tournaments.each do |tournament|
    %tr
      %td.col-datetime= tournament.datetime.nil? ? '' : tournament.datetime.to_formatted_s(:datecontrol_timestamp)
      %td.col-name= link_to tournament.name, tournament_path(tournament)
      %td.col-participants
        - tournament.users.each do |user| 
          =link_to user.name, user_path(user) 
          
      %td.col-availability #{tournament.users.count}/#{tournament.available_spots}
      %td.col-location= tournament.location
      - if user_signed_in? and (!locked or can?(:manage, tournament))
        %td.col-action
          = link_to 'Piedalīties', join_tournament_path(tournament) unless can?(:manage, tournament)
          = link_to 'Dalībnieki', participants_tournament_path(tournament) if can?(:manage, tournament)
          = link_to 'Mainīt', edit_tournament_path(tournament) if can?(:manage, tournament)
          = link_to 'Dzēst', tournament, :confirm => 'toč toč?', :method => :delete if can?(:manage, tournament)