%ul
  %li.dashboard_item
    %div.title
      %h2 Nākamie turnīri
      
    %div.actions
      - if user_signed_in?
        =link_to 'pievienot turnīru', new_tournament_path
      
    %div.dashboard-item-content
      %table.content-table.tournaments
        %tr
          %th.col-datetime Datums/Laiks
          %th.col-name Turnīrs
          %th.col-participants Spēlētāji
          %th.col-availability Vietas
          %th.col-location Kur
          %th.col-action
          %th.col-action
          %th.col-action
          
        - @tournaments.each do |tournament|
          %tr
            %td.col-datetime= tournament.datetime.nil? ? '' : tournament.datetime.to_formatted_s(:datecontrol_timestamp)
            %td.col-name= link_to tournament.name, tournament_path(tournament)
            %td.col-participants
              - tournament.users.each do |user| 
                =link_to user.name, user_path(user) 
                
            %td.col-availability #{tournament.users.count}/#{tournament.available_spots}
            %td.col-location= tournament.location
            - if user_signed_in?
              %td.col-action= link_to 'Piedalīties', join_tournament_path(tournament)
              %td.col-action= link_to 'Mainīt', edit_tournament_path(tournament)
              %td.col-action= link_to 'Dzēst', tournament, :confirm => 'toč toč?', :method => :delete