#profile

  %ul
    %li
      %h3 Pamatinfo
      .info.middle
        %div.label vārds:
        %div.value= @user.name
  
        %div.label e-pasts:
        /%div.value= @user.email
        %div.value dipdupdaa paslēpts
        
        %div.actions
          - if @user==current_user
            %a{:href=>profile_edit_path} Pieskrūvēt
  
        .clear
    %li
      %h3 Spēļu statistika
      .info
        %table
          %tr
            %th Kopā
            %th Uzvarētas
            %th Zaudētas
            %th Turnīri
            %th Labākā vieta
            %th Sliktākā vieta
          %tr
            %td= @games.count
            %td= GamesCalculator::calc_wins(@games, @user)
            %td= GamesCalculator::calc_loses(@games, @user)
            %td= @tournaments_total
            %td= @tournament_best
            %td= @tournament_worst
      
    %li
      %h3 Pretinieki
      .info
        %table
          %tr
            %th Vārds
            %th Spēles
            %th Uzvaras
            %th Zaudējumi
            %th
          
          -@opponents.each do |opponent|
            %tr
              %td= link_to opponent.name, user_path(opponent)
              %td= @opponent_res[opponent][:total]
              %td= @opponent_res[opponent][:wins]
              %td= @opponent_res[opponent][:loses]
              %td.col-action= link_to 'Savstarpējās spēles', versus_user_path(@user, opponent)
          
    %li
      %h3 Papildus
      .info
        %table
          %tr
            %td.col-action
              =link_to @user.name + ' Turnīri', tournaments_user_path(@user)


      