#profile
  %ul
    %li
      %h3 #{@user.name} pret #{@opponent.name}
      .info
        %table.games
          %tr
            %th Turnīrs
            %th Datums
            %th Rezultāts
            %th Uzvar
          -@games.each do |game|
            %tr
              %td= link_to game.tournament.name, tournament_path(game.tournament)
              %td= game.tournament.datetime.to_formatted_s(:datecontrol_timestamp)
              %td #{game.player1_points}/#{game.player2_points}
              %td= link_to GamesCalculator::game_winner(game).name, user_path(GamesCalculator::game_winner(game))
      