<!DOCTYPE html>
<html>
<head>
  <title>Gonka</title>
  <%= stylesheet_link_tag :all %>
  <link href="/stylesheets/stylesheet.less"  media="screen" rel="stylesheet/less" type="text/css" />
  <%= javascript_include_tag :defaults  %>
  <%= javascript_include_tag 'less-1.0.41.min.js'  %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="container">

    <div id="splash_panel">
      <%= yield %>
    </div>

  </div>

</body>
</html>
